# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings
.vscode/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore logs
*.log

# Ignore data files
*.pkl
# *.csv

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore results-experiments folder
results/experiments

# Ignore tests in the causal_learn package
src/faircausal/causal_learn/tests
